@import url(http://fonts.googleapis.com/css?family=Inconsolata:700);

.title {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

header {
    padding: 8em 0;
}

header, footer {
    color: rgb(49, 63, 81);
    background: #f5f5f5;
    background-image: url(background.png);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}

h1.title {
    font-size: 4em;
    font-weight: bold;
}

header p {
    font-size: 1.4em;
}

footer {
    padding: 50px 0;
    text-align: center;
    font-size: 1.1em;
    margin-top: 3em;
}

footer a {
    color: rgb(49, 63, 81);
}

footer a:hover {
    color: rgb(49, 63, 81);
}

line {
    stroke-width: 2px;
}

.graph {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 525px;
}

img {
    max-width: 100%;
}
