# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# temp files
*.swp
*~

# build directory
build-*GCC_32bit-Debug/
build-*GCC_64bit-Debug/

# compiling from compile.sh
source/JohnnysWebView
source/main.moc
source/ui_mainwindow.h
