.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screen {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    position: absolute;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

[data-path].folder i.fa {
    color: rgb(206, 66, 0);
}

[data-path].file i.fa {
    color: rgb(0, 157, 206);
}

.files [data-path] {
    float: left;
    padding: 8px;
    text-align: center;
    width: 130px;
    color: rgb(49, 35, 0);
    margin: 1px;
    min-height: 160px;
    border-radius: 4px;
    background: white;
    opacity: 0.8;
    cursor: pointer;
}

[data-path]:hover {
    opacity: 1;
}

.path .dir {
    background: rgb(255, 222, 139);
    padding: 9px;
    border-left: 3px solid rgb(177, 79, 2);
    display: inline-block;
    margin-right: -4px;
}

.path {
    background: rgb(255, 163, 0);
    width: 100%;
}


[data-path].folder.selected i.fa,
[data-path].file.selected i.fa {
    color: black;
}
